@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

 <div class="container p-3">
    <div class="row-no-gutters pt-4">
        <div>
            <h2 class="text-primary">Category List</h2>
        </div>
        <div>
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; New</a>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>
                    Name
                </th> 
                 <th>
                    Order
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td style="30%">
                        @category.DisplayOrder
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

