@model int

@{
    ViewData["Title"] = "Order";
#pragma warning disable
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center fw-bold">Order Placed Successfully!</h1>
        <p>Order Number is : @Model </p>
        <br /> 
        <img src="~/images/orders/confirmed.png" width="50%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        <p class="text-success">Your order has been placed successfully!</p>
    </div>
</div>