@model int

@{
    ViewData["Title"] = "Payment";
#pragma warning disable
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center fw-bold">Palyment Successful!</h1>
        <p>Payment Number is : @Model </p>
        <br /> 
        <img src="~/images/orders/payment.png" width="50%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        <p class="text-success">Your Payment has been placed successfully!</p>
    </div>
</div>