@model int

@{
    ViewData["Title"] = "Payment";
#pragma warning disable
}

<div class="container row">
    <div class="col-12 text-center">
        <br />
        <img src="~/images/orders/payment.png" width="50%" />
        <p class="text-primary fw-bold">Payment Number is : @Model </p>
        <br />
    </div>
</div>