@model Books.Domain.Entities.Cover

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cover</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-secondary">Back to list</button>
            </div>
        </form>
    </div>
</div>
 
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

